<div class="alert alert-danger" role="alert" *ngIf="isCustomerIdInvalid">
    <p class="pt-5 mt-5 text-danger font-weight-bold custom-font text-center" *ngIf="isCustomerIdLoaded | async">
        Invalid Customer Id!!!
    </p>
</div>

<div *ngIf="!isCustomerIdInvalid" style="background: rgb(241, 240, 243); border-bottom: 1px solid  rgb(81, 0, 128);" class="pb-5">
  
  <h4 class="pt-5 pb-2 mt-5 font-weight-bold custom-font color-purple text-center" *ngIf="isCustomerIdLoaded | async">
      Customer #{{ customerId }}
  </h4>

  <div class="container text-center pt-4" *ngIf="isSelectedCustomerLoaded | async">
    <div class="row">
      <div class="col-md-8">
        <div class="d-flex">
          <div class="align-self-start pl-4 pr-2">
              <i class="fas fa-user fa-6x"></i>
          </div>
          <div class="align-self-start px-2">
            <h4 class="text-blue font-weight-bold custom-font">
              {{ selectedCustomer.customerName }}
            </h4>
            <span class="d-block text-blue font-weight-light custom-font">
              Email Id: {{ selectedCustomer.customerEmailId }}
            </span>
            <span class="d-block text-blue font-weight-light custom-font">
              Mobile No: {{ selectedCustomer.customerMobileNo }}
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <button (click)="onClickEditCustomer()" class="btn btn-sm color-purple mr-2">
            <i class="fas fa-user-edit"></i>
            Edit Customer
        </button>
        <button (click)="onClickCustomerCart()" class="btn btn-sm color-purple">
            <i class="fas fa-shopping-cart"></i>
            Cart
        </button>
      </div>
    </div>
  </div>
</div>
