<app-navigation-bar></app-navigation-bar>
<h1 class="font-weight-bold custom-font color-purple text-center my-5 pt-5">
  Search Products
</h1>
<div class="container text-center pb-4">
  <div class="form-group mb-4">
    <div class="input-group">
      <input type="text" name="search" id="search" class="form-control" placeholder="Enter product code, product name or product description" #searchBox>
      <div class="input-group-append">
          <button type="submit" (click)="onSearch(searchBox)" class="bg-light color-purple" style="border-radius: 5px">
             <i class="fas fa-search"></i>
            <span class="pl-2">Search</span>
            </button>
      </div>
    </div>
  </div>
  <div *ngIf="isNoProductFound === true">
    <div class="alert alert-danger" role="alert">
      <p class="text-danger font-weight-bold">No product found for this search parameter!!!</p>
    </div>
  </div>
  <div *ngIf="isNoProductFound === false && areProductsLoaded | async">
    <div class="row">
      <div *ngFor="let product of products; let i = index" class="p-4">
        <div class="col md-4">
          <div *ngIf="i % 2 === 0">
            <div class="d-flex">
              <div class="align-self-start pl-4 pr-2">
                <i class="fas fa-box-open fa-7x"></i>
              </div>
              <div class="align-self-start px-2">
                <a routerLink="/employees/{{ employeeId }}/products/{{ product.productCode }}/update" class="color-purple font-weight-bold custom-font">
                  <h3>{{ product.productName }}</h3>
                </a>
                <h6 class="color-purple font-weight-light custom-font">
                  Price: {{ product.productUnitPrice|currency }}
                </h6>
                <h6 class="color-purple font-weight-light custom-font">
                  Stock: {{ product.productStock }}
                </h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col md-4">
          <div *ngIf="i % 2 !== 0">
            <div class="d-flex">
              <div class="align-self-start pl-4 pr-2">
                <i class="fas fa-box-open fa-7x"></i>
              </div>
              <div class="align-self-start px-2">
                <a routerLink="/employees/{{ employeeId }}/products/{{ product.productCode }}/update" class="color-purple font-weight-bold custom-font">
                  <h3>{{ product.productName }}</h3>
                </a>
                <h6 class="color-purple font-weight-light custom-font">
                  Price: {{ product.productUnitPrice|currency }}
                </h6>
                <h6 class="color-purple font-weight-light custom-font">
                  Stock: {{ product.productStock }}
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>