<div id="slider2" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <app-low-stock-products></app-low-stock-products>
    </div>
    <div class="carousel-item">
      <app-total-orders-placed-today></app-total-orders-placed-today>
    </div>
  </div>
  <a href="#slider2" class="carousel-control-prev" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a href="#slider2" class="carousel-control-next" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>