<app-navigation-bar></app-navigation-bar>
<h1 class="pt-5 pb-4 mt-5 font-weight-bold custom-font color-purple text-center">
  Add Customer
</h1>
<div class="container ml-auto mr-auto w-50 text-center pb-5">

  <div *ngIf="isCustomerSuccessfullyAdded">
    <div class="alert alert-success" role="alert">
      <p class="text-success custom-font font-weight-bold">{{ newCustomerName }} registered!!!</p>
    </div>
  </div>

  <form (ngSubmit)="onSubmit()" #form="ngForm">
    
    <div class="form-group">
      <input type="text" pattern="[A-Za-z ]{1,}" ngModel name="customerName" id="customerName" class="form-control form-control-lg my-5" placeholder="Customer name" required>
    </div>

    <div class="form-group">
      <input type="text" pattern="[789][0-9]{9}" ngModel name="customerMobileNo" id="customerMobileNo" class="form-control form-control-lg my-5" placeholder="Customer mobile number" required>
    </div>  

   <div class="form-group">
        <input type="email" ngModel name="customerEmailId" id="customerEmailId" class="form-control form-control-lg my-5" placeholder="Customer email id" email required>
   </div>  

   <button type="submit" [disabled]="!form.valid" class="btn btn-lg background-color-purple text-white">Submit</button>
  
  </form>
</div>
<app-footer></app-footer>