<div id="slider1" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <app-cash-drawer></app-cash-drawer>
    </div>
    <div class="carousel-item">
      <app-last-order></app-last-order>
    </div>
  </div>
  <a href="#slider1" class="carousel-control-prev" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a href="#slider1" class="carousel-control-next" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>